<script src="{{site.baseurl}}/assets/js/lunr.js"></script>


<style>
    .lunrsea.lunrsearchresult .title {
    color: #BB86FC;  /* Purple */
    }

    .lunrsearchresult .url {
    color: orange;  /* Teal */
    }

    .lunrsearchresult a {
    color: #E1E1E1;  /* Light gray */
    }

    .lunrsearchresult a:hover .title {
    text-decoration: underline;
    opacity: 0.9;
    }

    .modal-content {
    background-color: #121212;  /* Dark gray background */
    }
</style>


<form class="bd-search" onSubmit="return lunr_search(document.getElementById('lunrsearch').value);">
    <input type="text" class="form-control text-small launch-modal-search" id="lunrsearch" name="q" maxlength="255" value="" placeholder="Type and enter..."/>
</form>

<div id="lunrsearchresults">
    <ul></ul>
</div>

<script src="{{site.baseurl}}/assets/js/lunrsearchengine.js"></script>